body {
    font-family: Arial, sans-serif;
    background-color: #aeaee4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.headings h1 {
    text-align: center;
    color: #060101;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button.add {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button.add:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}

ul li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    left: -47px;
    position: relative;
}

ul li span {
    flex-grow: 1;
}

button.edit {
    /* background-color: #f0ad4e; */
    color: white;
    width: 40px;
    height: 30px;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background: url("./edit.png") no-repeat center center/cover;
}

button.edit:hover {
    background-color: #ec971f;
}

button.remove {
    color: white;
    border: none;
    width: 35px;
    height: 30px;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background: url("./2411575.webp") no-repeat center center/cover;
}

.chkbox{
    color: white;
    border: none;
    width: 15px;
    height: 15px;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    background: url("./360-removebg-preview.png") no-repeat center center/cover;
}

button.remove:hover {
    background-color: #c9302c;
}
